.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 20px;

  font-family: "Roboto";
}

.header-container .nav-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.header-container .nav-bar .nav-options {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #00939f;

  margin: 0;
  padding: 0;
}

.header-container .nav-bar .nav-options .nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header-container .nav-bar .nav-options .nav-option a {
  color: #00939f;
  margin-left: 5px;
}

@media print {
  .header-container .nav-bar .nav-options {
    display: none;
  }
  .header-container .nav-bar {
    justify-content: center;
  }
}
